//
| Creative Commons License 
a(rel='license', href='http://creativecommons.org/licenses/by-nc-nd/2.0/at/')
  img.cc-button(alt='Creative Commons License', border='0', src='http://i.creativecommons.org/l/by-nc-nd/2.0//at/88x31.png')
.cc-info
  span(xmlns:cc='http://creativecommons.org/ns#', xmlns:dc='http://purl.org/dc/elements/1.1/')
    span#work_title(property='dc:title') nisslmueller.biz - by
    a(rel='cc:attributionURL', property='cc:attributionName', href='www.ForgeTech.org') &nbsp;Claus R. Nisslmüller&nbsp;
    | is licensed under a&nbsp;
    a(rel='license', href='http://creativecommons.org/licenses/by-nc-nd/2.0/at/') Creative Commons Attribution-NonCommercial-NoDerivs 2.0 Austria License
    | .
    span(rel='dc:source', href='http://www.mean.io/')
    span(rel='dc:source', href='http://foundation.zurb.com/')
