ul.authorization-navigation
    li
      a(href="user/auth/facebook")
        img(src="./assets/images/icons/facebook.png")
    li
      a(href="user/auth/github")
        img(src="./assets/images/icons/github.png")
    li
      a(href="user/auth/twitter")
        img(src="./assets/images/icons/twitter.png")
    li
      a(href="user/auth/google")
        img(src="./assets/images/icons/google.png")