@media #{ $small } {
  .header {
    .home-navigation {
      .logo {
        img {
        left: 10px;
        }
      }
      .name {
        width: 176px;
        img {
          height: 20px;
          position: relative;
          top: 2px;
          left: 10px;
        }
      }
      li {
        &.mobile-navigation {
          width: 60px;
          float: right;
          .button {
            width: 60px;
            @include float-right();
            position: relative;
          }
        }
      }
    }
  } 
  // header
  .sujet {
    // display: none;
    height: $sujet-height;
  }
  .post-sujet {
    display: block;
    .content{
      padding: 15px;
    }
    .commit-project{
      margin: 20px 0 0 0; 
      display: block;
    }
    h1 {
      a {
        padding-left: 44px;
      }
    }
    .info-box{
      position: relative;
      top: -15px;
      left: 50px;
      width: 90%;
    }
    .foundicon-thumb-up{
      font-size: 34px;
    }
  }
  .main {
    .contact {
      margin: 50px 0 60px 0;
      .willemgreydon {
        position: relative;
        margin-left: -230px;
        left: 50%;
        width: 100%;
      }
    }
    .about-us-list {
      margin: 30px 0 0 0;
      li {
        position: relative;
      }
      .odd .info-box {
        margin-right: 4%;
      }
      .info-box {
        width: 48%;
        height: 200px;
        padding-left: emCalc( 10px );
        padding-right: emCalc( 10px );
        margin-bottom: 100px;
        .button {
          width: 90%;
          position: absolute;
          left: 5%;
          bottom: 0;
          margin: 0 0 5% 0;
        }
      }
    }
  }
  .pre-footer {
    padding: 10px 0 0 0;
  }
  .footer {
    // display: none;
    height: $footer-height;
    .gmaps-marker-placeholder {
      width: 600px;
      margin-left: auto;
      margin-right: auto;
    } 
  }
  // footer
}