.main
  .content
    h1 ERROR 500 - Page not found!
    h2 A Server-Error happend during processing of the current process!
    p Please try again in some time, if error continues to appear please contact the System-Administrator