.post-sujet
  .content
    ul#github-orbit.github-commit-list( data-orbit='data-orbit' )
      li.slide
        span.github-commit
          h1
            a( href='https://www.facebook.com/photo.php?fbid=708726692505558&set=a.489128751132021.113191.100001047009185&type=1&theater&notif_t=photo_comment', target='_blank' )
              i.social.foundicon-thumb-up
              | I like:
          p.info-box
            span.commit-msg
              | Status: 
            a.commit-project( href='http://www.awwwards.com/best-websites/reichl-und-partner-communications-group', target='_blank' )
              | First Awwward Special Mention  
            a.github.commit-user( href='https://www.facebook.com/claus.nisslmuller', target='_blank' )
              | &nbsp;Claus R. Nisslmüller 
            span.commit-date
              | &nbsp;on MAR03, 2014
    a.talk-to-us.button( href='https://www.nisslmueller.biz/#!/whatweuse', target='_blank' )
      | Talk to me!
.main
  include ./includes/parallax/parallax-1
  .content
    .about-us
      h1 interactive developer.
        br
        | with passion for beautiful ux/ui.
        br
        | from 
        a( href='http://www.google.at/Linz', target='_blank' )
          | Linz
        span
          | , 
        a( href='http://www.google.at/Austria', target='_blank' )
          | Austria 
      h2
        | Contact me on 
        a( href='http://www.facebook.com/claus.nisslmuller', target='_blank' )
          | Facebook 
      ul.about-us-list
        li.services.odd
          a.info-box( href='./#!/services' )
            h3 Illustration
            //- span
              | In addition to our web-products we offer a wide range of conceptional tasks, helping businesses achieving their online success.
            //- div.button
              | What we can do for you.
        li.philosophy.even
          a.info-box( href='./#!/philosopy' )
            h3 Webdesign
            //- span
              | We believe that a quality development-workflow must be the base to build upon.
            //- div.button
              | Find out how we work.
        li.products.odd
          a.info-box( href='./#!/products' )
            h3 Photography
            //- span
              | We create websites and web-applications on the latest and greatest of web-technology. 
            //- div.button
              | Take a look at our offers
        li.tools.even
          a.info-box( href='./#!/whatweuse' )
            h3 The Moderator
            //- span
              | Modern web-development depends on a great amount of work by the opensource-community. 
            //- div.button
              | Read about our Tool-Box
        //- .row
        //- .large-8.columns
        //-   .row
        //-     .large-4.small-6.columns
        //-       img(src='http://placehold.it/1000x1000&text=Thumbnail')
        //-       .panel
        //-         h5 Item Name
        //-         h6.subheader $000.00
        //-     .large-4.small-6.columns
        //-       img(src='http://placehold.it/500x500&text=Thumbnail')
        //-       .panel
        //-         h5 Item Name
        //-         h6.subheader $000.00
        //-     .large-4.small-6.columns
        //-       img(src='http://placehold.it/500x500&text=Thumbnail')
        //-       .panel
        //-         h5 Item Name
        //-         h6.subheader $000.00
        //-     .large-4.small-6.columns
        //-       img(src='http://placehold.it/500x500&text=Thumbnail')
        //-       .panel
        //-         h5 Item Name
        //-         h6.subheader $000.00
        //-     .large-4.small-6.columns
        //-       img(src='http://placehold.it/500x500&text=Thumbnail')
        //-       .panel
        //-         h5 Item Name
        //-         h6.subheader $000.00
        //-     .large-4.small-6.columns
        //-       img(src='http://placehold.it/500x500&text=Thumbnail')
        //-       .panel
        //-         h5 Item Name
        //-         h6.subheader $000.00
.main
  //- include ./includes/parallax/parallax-1
  .content
    .about-us
      img(src='./../../assets/images/work/photography/shimpansee_prev.png')
  .references-bg
    .content
      .references
        h3
          | I've been creative for international agencies and interested in any kind of creative or auditive contact.
        ul.reference-list
          ul.reference-row-1
            li
              a(href='http://')
                img(src='assets/images/customers/01.png', alt='reichl-und-partner-communications-group')
            li
              a(href='http://')
                img(src='assets/images/customers/02.png', alt='adhouse')
            li
              a(href='http://')
                img(src='assets/images/customers/03.png', alt='quelle-ag')
            li
              a(href='http://')
                img(src='assets/images/customers/04.png', alt='wot-marketing')
            li
              a(href='http://')
                img(src='assets/images/customers/05.png', alt='forgetech')