.main
  //- include ./includes/parallax/parallax-1
  .content
    .about-us
      h1 Distinct passion for all
        br
        | kind of 
        a( href='google.at', target='_blank' )
          | Webdesign
      h2
        | Enjoy this website for more information on myself. 
  .references-bg
            .content
              .references
                h3
                  | scroll down for webdesigns (media gallery soon)
  .row
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-01-full.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-02-full.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-03-full.jpg')
          .panel
            //- h5 Item Name
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-11-full.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-12-full.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/_screen.jpg')
          .panel
            //- h5 Item Name
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/_screenstartseite.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/01_Mockup_Startseite.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/01_Webseite_Mockup.jpg')
          .panel
            //- h5 Item Name
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/05_Startseite_Mockup.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/Mockup_DesktopundMobile.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/Mockup_Druck.jpg')
          .panel
            //- h5 Item Name
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/Mockup_Linie_Old_03.png')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/Mockup_Linie1.png')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/mockups-big.png')
          .panel
            //- h5 Item Name
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/nespresso.png')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/rup2014.png')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/voest.png')
          .panel
            //- h5 Item Name
  .references-bg
    .content
      .references
        h3
          | I've been creative for international agencies and interested in any kind of creative or auditive contact.
        ul.reference-list
          //- ul.reference-row-1
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/voestalpine.jpg', alt='voestalpine')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/clinique.jpg', alt='clinique')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/mentos.jpg', alt='mentos')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/mandu.jpg', alt='mandu')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/omv.jpg', alt='omv')
          //- ul.reference-row-2
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/bauernfeind.jpg', alt='thomas-bauernfeind')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/honda.jpg', alt='honda')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/bwt.jpg', alt='bwt')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/swarco.jpg', alt='swarco')