.main
  //- include ./includes/parallax/parallax-1
  .content
    .about-us
      h1 Look, wait, focus and
        br
        | develop on epic 
        a( href='google.at', target='_blank' )
          | photography.
      h2
        | Enjoy this website for more information on myself. 
  .references-bg
            .content
              .references
                h3
                  | scroll down for photographs (media gallery soon)
  .row
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG5255.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG5286.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG5323.jpg')
          .panel
            //- h5 Item Name
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG5358.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG5360.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG5390.jpg')
          .panel
            //- h5 Item Name
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG5407.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG5420.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG5440.jpg')
          .panel
            //- h5 Item Name
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG5447.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG5455.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG5459.jpg')
          .panel
            //- h5 Item Name
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG6576.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG6617.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG6629.jpg')
          .panel
            //- h5 Item Name
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG6633.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG6637.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/photography/CIMG7371.jpg')
          .panel
            //- h5 Item Name
  .references-bg
    .content
      .references
        h3
          | I've been creative for international agencies and interested in any kind of creative or auditive contact.
        ul.reference-list
          //- ul.reference-row-1
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/voestalpine.jpg', alt='voestalpine')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/clinique.jpg', alt='clinique')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/mentos.jpg', alt='mentos')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/mandu.jpg', alt='mandu')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/omv.jpg', alt='omv')
          //- ul.reference-row-2
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/bauernfeind.jpg', alt='thomas-bauernfeind')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/honda.jpg', alt='honda')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/bwt.jpg', alt='bwt')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/swarco.jpg', alt='swarco')