.main
  //- include ./includes/parallax/parallax-1
  .content
    .about-us
      h1 Love to visualize & 
        br
        | create individual 
        a( href='google.at', target='_blank' )
          | Illustrations. 
      h2
        | Think and visualize
  .references-bg
            .content
              .references
                h3
                  | scroll down for illustrations (media gallery soon)
  .row
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-05-full.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-06-full.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-07-full.jpg')
          .panel
            //- h5 Item Name
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-09-full.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-10-full.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-13-full.jpg')
          .panel
            //- h5 Item Name
    .large-12.columns
      .row
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-15-full.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-17-full.jpg')
          .panel
            //- h5 Item Name
        .large-4.small-12.columns
          img(src='./../../assets/images/work/full/image-25-full.jpg')
          .panel
            //- h5 Item Name
  .content
    .about-us
      img(src='./../../assets/images/work/photography/shimpansee_prev-1.png')    
  .references-bg
    .content
      .references
        h3
          | I've been creative for international agencies and interested in any kind of creative or auditive contact.
        ul.reference-list
          //- ul.reference-row-1
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/voestalpine.jpg', alt='voestalpine')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/clinique.jpg', alt='clinique')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/mentos.jpg', alt='mentos')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/mandu.jpg', alt='mandu')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/omv.jpg', alt='omv')
          //- ul.reference-row-2
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/bauernfeind.jpg', alt='thomas-bauernfeind')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/honda.jpg', alt='honda')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/bwt.jpg', alt='bwt')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/swarco.jpg', alt='swarco')