.main
  //- include ./includes/parallax/parallax-1
  .content
    .about-us
      h1 get in touch
        br
        | in anyway you want  
      h2
        | Just do it. 
        br
  .content
    .contact
      a(href='http://www.facebook.com/claus.nisslmuller', class="willemgreydon")
          img(src='assets/images/willemgreydon.png', alt='Claus Rainer Nisslmüller')
      h2
        | <b>Full birth name</b>: Claus Rainer Nisslmüller
        br
      h2
        | <b>Hometown</b>: Linz, <a href="Austria"><i>Austria</i></a>
        br
      h2
        | <b>Mail</b>: 
        a( href="mailto:hello@nisslmueller.biz" )
        | hello@nisslmueller.biz
      h2
  .content
    .about-us
      img(src='./../../assets/images/work/photography/shimpansee_prev-1.png')    
  .references-bg
    .content
      .references
        h3
          | I've been creative for international agencies and interested in any kind of creative or auditive contact.
        ul.reference-list
          //- ul.reference-row-1
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/voestalpine.jpg', alt='voestalpine')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/clinique.jpg', alt='clinique')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/mentos.jpg', alt='mentos')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/mandu.jpg', alt='mandu')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/omv.jpg', alt='omv')
          //- ul.reference-row-2
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/bauernfeind.jpg', alt='thomas-bauernfeind')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/honda.jpg', alt='honda')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/bwt.jpg', alt='bwt')
          //-   li
          //-     a(href='http://')
          //-       img(src='assets/images/customers/swarco.jpg', alt='swarco')