script.
  ; console.log( "Added data for user-group: user-authorized" ) 
  //- user-group "user-authorized" is injected!
  ; window.data.route.state.userAuthorized = !{ JSON.stringify( data.route.userAuthorized ) }
  ; window.data.navigation.state.userAuthorized = !{ JSON.stringify( data.navigation.userAuthorized ) }