//- Include basic angular-libs
script( type="text/javascript", src="./angular/angular.min.js" )
script( type="text/javascript", src="./angular-cookies/angular-cookies.js" )
script( type="text/javascript", src="./angular-resource/angular-resource.js" )
script( type="text/javascript", src="./angular-sanitize/angular-sanitize.js" )
script( type="text/javascript", src="./angular-local-storage/angular-local-storage.js" )
script( type="text/javascript", src="./angularjs-geolocation/src/geolocation.js" )
//- Include angular-ui-bootstrap
script( type="text/javascript", src="./angular-ui-bootstrap/src/accordion/accordion.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/alert/alert.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/bindHtml/bindHtml.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/buttons/buttons.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/carousel/carousel.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/collapse/collapse.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/datepicker/datepicker.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/dropdownToggle/dropdownToggle.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/modal/modal.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/pagination/pagination.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/popover/popover.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/position/position.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/progressbar/progressbar.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/rating/rating.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/tabs/tabs.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/timepicker/timepicker.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/tooltip/tooltip.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/transition/transition.js" )
script( type="text/javascript", src="./angular-ui-bootstrap/src/typahead/typahead.js" )