script( type="text/javascript", src="./foundation/js/foundation.js" );
script( type="text/javascript", src="./foundation/js/foundation/foundation.alert.js" );
//- script( type="text/javascript", src="./foundation/js/foundation/foundation.clearing.js" );
script( type="text/javascript", src="./foundation/js/foundation/foundation.dropdown.js" );
//- script( type="text/javascript", src="./foundation/js/foundation/foundation.forms.js" );
//- script( type="text/javascript", src="./foundation/js/foundation/foundation.joyride.js" );
//- script( type="text/javascript", src="./foundation/js/foundation/foundation.magellan.js" );
//- script( type="text/javascript", src="./foundation/js/foundation/foundation.orbit.js" );
//- script( type="text/javascript", src="./foundation/js/foundation/foundation.placeholder.js" );
script( type="text/javascript", src="./foundation/js/foundation/foundation.reveal.js" );
//- script( type="text/javascript", src="./foundation/js/foundation/foundation.section.js" );
//- script( type="text/javascript", src="./foundation/js/foundation/foundation.tooltips.js" );
script( type="text/javascript", src="./foundation/js/foundation/foundation.topbar.js" );
script( type="text/javascript", src="./foundation/js/foundation/foundation.dropdown.js" );