//- CAUTION! This package is received via npm ( http://github.hubspot.com/signet/ )
script( type="text/javascript", src="./signet/titleSignet/titleSignet.js");
script( type="text/javascript", src="./scripts/config/signet.js");