.row
  .large-12.columns

      ul.button-group
        li
          a.button( href="#" ) Nav Item 1
        li
          a.button( href="#" ) Nav Item 2
        li
          a.button( href="#" ) Nav Item 3

      .row
        .large-6.columns
          img( src="http://placehold.it/500x500&text=Image" )
          br


        .large-6.columns

          h3.show-for-small Header
            hr

          .panel
            h4.hide-for-small Header
            hr
            h5.subheader Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros. Pellentesque consectetur tempus mi iaculis bibendum. Ut vel dolor sed eros tincidunt volutpat ac eget leo.

          .row
            .large-6.small-6.columns
              .panel
                h5 Header
                h6.subheader Praesent placerat dui tincidunt elit suscipit sed.
                a.small.button( href="#" ) BUTTON TIME!

            .large-6.small-6.columns
              .panel
                h5 Header
                h6.subheader Praesent placerat dui tincidunt elit suscipit sed.
                a.small.button( href="#" ) BUTTON TIME!

.row
  .large-12.columns
    .radius.panel
      form
        .row.collapse
          .large-10.small-8.columns
            input( type="text" )
          .large-2.small-3.columns
            a.postfix.button.expand( href="#" ) Search
.row
  .large-12.show-for-small.columns
    h3 Header
      hr
    .large-3.small-6.columns
      img( src="http://placehold.it/500x500&text=Thumbnail" )
      .panel
        p Description

    .large-3.small-6.columns
      img( src="http://placehold.it/500x500&text=Thumbnail" )
      .panel
        p Description

    .large-3.small-6.columns
      img( src="http://placehold.it/500x500&text=Thumbnail" )
      .panel
        p Description

    .large-3.small-6.columns
      img( src="http://placehold.it/500x500&text=Thumbnail" )
      .panel
        p Description


footer.row
  .large-12.columns
    hr
      .row
        .large-6.columns
          p &copy; Copyright no one at all. Go to town.
        .large-6.columns
          ul.inline-list.right
            li 
              a( href="#") Link 1
            li 
              a( href="#") Link 2
            li 
              a( href="#") Link 3
            li 
              a( href="#") Link 4