.top-bar
  ul.title-area
    <!-- Title Area -->
    li.name
      h1
        a( href="#" ) Top Bar Title
    li.toggle-topbar.menu-icon
      a( href="#" ) 
        span Menu
  section.top-bar-section
    <!-- Right Nav Section -->
    ul.right
      li.divider
      li.has-dropdown
        a( href="#" ) Main Item 1
        ul.dropdown
          li 
            label Section Name
          li.has-dropdown
            a( href="#" ) Has Dropdown, Level 1
            ul.dropdown
              li 
                a( href="#" ) Dropdown Options
              li 
                a( href="#" ) Dropdown Options
              li 
                a( href="#" ) Level 2
              li 
                a( href="#" ) Subdropdown Option
              li 
                a( href="#" ) Subdropdown Option
              li 
                a( href="#" ) Subdropdown Option        
          li
            a( href="#" ) Dropdown Option
          li
            a( href="#" ) Dropdown Option
          li.divider
          li
            label Section Name
          li
            a( href="#" ) Dropdown Option
          li
            a( href="#" ) Dropdown Option
          li
            a( href="#" ) Dropdown Option
          li.divider
          li
            a( href="#" ) See all &rarr;
      li.divider
      li
        a( href="#" ) Main Item 2
      li.divider
      li.has-dropdown
        a( href="#" ) Main Item 3
        ul.dropdown
          li 
            a( href="#" ) Dropdown Option
          li 
            a( href="#" ) Dropdown Option
          li 
            a( href="#" ) Dropdown Option
          li.divider
          li 
            a( href="#" ) See all &rarr;

.row
  .large-9.columns
    h3 Get in Touch!
    p We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.
    .section-container.tabs( data-section )
      section.section
        h5.title
          a( href="#panel1" ) Contact Our Company
        .content( data-slug="panel1" )
          form
            .row.collapse
              .large-2.columns
                label.inline Your Name
              .large-10.columns
                input( type="text", id="yourName", placeholder="Jane Smith" )
            .row.collapse
              .large-2.columns
                label.inline Your Email
              .large-10.columns
                input( type="text", id="yourEmail", placeholder="jane@smithco.com" )
            label What's up?
            textarea(rows="4" )
            button.radius.button( type="submit" ) Submit
      section.section
        h5.title
          a( href="#panel2") Specific Person
        .content( data-slug="panel2" )
          ul.large-block-grid-5
            li
              a( href="mailto:mal@serenity.bc.reb" ) 
                img( src="http://placehold.it/200x200&amp;text=[person]") Mal Reynolds
            li
              a( href="mailto:zoe@serenity.bc.reb" ) 
                img( src="http://placehold.it/200x200&amp;text=[person]" ) Zoe Washburne
            li
              a( href="mailto:jayne@serenity.bc.reb" ) 
                img( src="http://placehold.it/200x200&amp;text=[person]" ) Jayne Cobb
            li
              a( href="mailto:doc@serenity.bc.reb" ) 
                img( src="http://placehold.it/200x200&amp;text=[person]" ) Simon Tam
            li
              a( href="mailto:killyouwithmymind@serenity.bc.reb" ) 
                img( src="http://placehold.it/200x200&amp;text=[person]" ) River Tam
            li
              a( href="mailto:leafonthewind@serenity.bc.reb" ) 
                img( src="http://placehold.it/200x200&amp;text=[person]" ) Hoban Washburne
            li
              a( href="mailto:book@serenity.bc.reb") 
                img( src="http://placehold.it/200x200&amp;text=[person]") Shepherd Book
            li
              a( href="mailto:klee@serenity.bc.reb" ) 
                img( src="http://placehold.it/200x200&amp;text=[person]" ) Kaywinnet Lee Fry
            li
              a( href="mailto:inara@guild.comp.all" ) 
                img( src="http://placehold.it/200x200&amp;text=[person]" ) Inarra Serra
  .large-3.columns
    h5 Map
    <!-- Clicking this placeholder fires the mapModal Reveal modal -->
    p
      a( href="#", data-reveal-id="mapModal" )
        img( src="http://placehold.it/400x280" )
        br
      a( href="#", data-reveal-id="mapModal" ) View Map
    p
      span 123 Awesome St.
      br
      span Barsoom, MA 95155

footer.row
  .large-12.columns
    hr
    .row
      .large-6.columns
        p &copy; Copyright no one at all. Go to town.
      .large-6.columns
        ul.inline-list.right"
          li 
            a( href="#" ) Link 1
          li
            a( href="#" ) Link 2
          li
            a( href="#" ) Link 3
          li 
            a( href="#" ) Link 4