nav.top-bar
  ul.title-area
    li.name
      h1
        a( href='#' )
          | Top Bar Title
    li.toggle-topbar.menu-icon
      a( href='#' )
        span Menu
  section.top-bar-section
    ul.left
      li.divider
      li.has-dropdown
        a.active( href='#' ) Main Item 1
        ul.dropdown
          li
            label Section Name
          li
            a( href='#' ) Dropdown Level 1
          li
            a( href='#' ) Dropdown Option
          li
            a( href='#' ) Dropdown Option
          li.divider
          li
            label Section Name
          li
            a( href='#' ) Dropdown Option
          li
            a( href='#' ) Dropdown Option
          li
            a( href='#' ) Dropdown Option
          li.divider
          li
            a( href='#' ) See all →
      li.divider
      li
        a( href='#' ) Main Item 2
      li.divider
      li.has-dropdown
        a( href='#' ) Main Item 3
        ul.dropdown
          li
            a( href='#' ) Dropdown Option
          li
            a( href='#' ) Dropdown Option
          li
            a( href='#' ) Dropdown Option
          li.divider
          li
            a( href='#' ) See all →

.row
  .large-3.columns
    .panel
      h5 Panel Title
      p This is a three columns grid panel with an arbitrary height.
  .large-6.columns
    .panel
      h5 Panel Title
      p
        | This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
  .large-3.columns
    .panel
      h5 Panel Title
      p This is a three columns grid panel with an arbitrary height.
.row
  .large-6.columns
    .panel
      h5 Panel Title
      p
        | This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
  .large-2.columns
    .panel
      p
        img(src='http://placehold.it/200x200')
  .large-4.columns
    .panel
      h5 Panel Title
      p
        | This is a four columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami.
.row
  .large-4.columns
    .panel
      p
        img( src='http://placehold.it/400x300' )
  .large-4.columns
    .panel
      p
        img( src='http://placehold.it/400x300' )
  .large-4.columns
    .panel
      p
        img( src='http://placehold.it/400x300' )
.row
  .large-6.columns
    .panel
      h5 Panel Title
      p
        | This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
  .large-3.columns
    .panel
      h5 Panel Title
      p This is a three columns grid panel with an arbitrary height.
  .large-3.columns
    .panel
      h5 Panel Title
      p This is a three columns grid panel with an arbitrary height.

footer.row
  .large-12.columns
    hr
    .row
      .large-6.columns
        p © Copyright no one at all. Go to town.
      .large-6.columns
        ul.inline-list.right
          li
            a( href='#' ) Section 1
          li
            a( href='#' ) Section 2
          li
            a( href='#' ) Section 3
          li
            a( href='#' ) Section 4