nav.top-bar
    ul.title-area
      li.name
        h1
          a(href='#')
            | Top Bar Title
      li.toggle-topbar.menu-icon
        a(href='#')
          span menu
    section.top-bar-section
      ul.right
        li.divider
        li.has-dropdown
          a(href='#') Main Item 1
          ul.dropdown
            li
              label Section Name
            li.has-dropdown
              a.(href='#') Has Dropdown, Level 1
              ul.dropdown
                li
                  a(href='#') Dropdown Options
                li
                  a(href='#') Dropdown Options
                li
                  a(href='#') Level 2
                li
                  a(href='#') Subdropdown Option
                li
                  a(href='#') Subdropdown Option
                li
                  a(href='#') Subdropdown Option
            li
              a(href='#') Dropdown Option
            li
              a(href='#') Dropdown Option
            li.divider
            li
              label Section Name
            li
              a(href='#') Dropdown Option
            li
              a(href='#') Dropdown Option
            li
              a(href='#') Dropdown Option
            li.divider
            li
              a(href='#') See all →
        li.divider
        li
          a(href='#') Main Item 2
        li.divider
        li.has-dropdown
          a(href='#') Main Item 3
          ul.dropdown
            li
              a(href='#') Dropdown Option
            li
              a(href='#') Dropdown Option
            li
              a(href='#') Dropdown Option
            li.divider
            li
              a(href='#') See all →
  .row
    .large-12.columns
      img(src='http://placehold.it/1600x600&text=Header')
      br
      br

  .row
    .large-3.panel.columns
      img(src='http://placehold.it/500x500&text=Image')
      h4 Header
      p
        | Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.
      hr
      .row
        .large-4.columns
          a.small.button(href='#') Link
        .large-4.columns
          a.small.button(href='#') Link
        .large-4.columns
          a.small.button(href='#') Link
    .large-9.columns
      .panel
        .row
          .large-3.columns
            img(src='http://placehold.it/600x500&text=Thumbnail')
          .large-3.columns
            img(src='http://placehold.it/600x500&text=Thumbnail')
          .large-3.columns
            img(src='http://placehold.it/600x500&text=Thumbnail')
          .large-3.columns
            img(src='http://placehold.it/600x500&text=Thumbnail')
          .large-3.columns
            img(src='http://placehold.it/600x500&text=Thumbnail')
          .large-3.columns
            img(src='http://placehold.it/600x500&text=Thumbnail')
          .large-3.columns
            img(src='http://placehold.it/600x500&text=Thumbnail')
          .large-3.columns
            img(src='http://placehold.it/600x500&text=Thumbnail')
          .large-3.columns
            img(src='http://placehold.it/600x500&text=Thumbnail')
          .large-3.columns
            img(src='http://placehold.it/600x500&text=Thumbnail')
          .large-3.columns
            img(src='http://placehold.it/600x500&text=Thumbnail')
          .large-3.columns.end
            img(src='http://placehold.it/600x500&text=Thumbnail')
      .row
        .large-6.columns
          .panel
            h5 Subheader
            p
              | Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.
            a.small.button(href='#') Link
        .large-6.columns
          .panel
            h5 Subheader
            p
              | Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.
            a.small.button(href='#') Link
             
  footer.row
    .large-12.columns
      hr
      .row
        .large-6.columns
          p © Copyright no one at all. Go to town.
        .large-6.columns
          ul.inline-list.right
            li
              a(href='#') Link 1
            li
              a(href='#') Link 2
            li
              a(href='#') Link 3
            li
              a(href='#') Link 4
