.row
    .large-12.columns
      .row
        .large-12.columns
          nav.top-bar
            ul.title-area
              li.name
                h1
                  a(href='#')
                    | Top Bar Title
              li.toggle-topbar.menu-icon
                a(href='#')
                  span menu
            section.top-bar-section
              ul.right
                li.divider
                li.has-dropdown
                  a(href='#') Main Item 1
                  ul.dropdown
                    li
                      label Section Name
                    li.has-dropdown
                      a.(href='#') Has Dropdown, Level 1
                      ul.dropdown
                        li
                          a(href='#') Dropdown Options
                        li
                          a(href='#') Dropdown Options
                        li
                          a(href='#') Level 2
                        li
                          a(href='#') Subdropdown Option
                        li
                          a(href='#') Subdropdown Option
                        li
                          a(href='#') Subdropdown Option
                    li
                      a(href='#') Dropdown Option
                    li
                      a(href='#') Dropdown Option
                    li.divider
                    li
                      label Section Name
                    li
                      a(href='#') Dropdown Option
                    li
                      a(href='#') Dropdown Option
                    li
                      a(href='#') Dropdown Option
                    li.divider
                    li
                      a(href='#') See all →
                li.divider
                li
                  a(href='#') Main Item 2
                li.divider
                li.has-dropdown
                  a(href='#') Main Item 3
                  ul.dropdown
                    li
                      a(href='#') Dropdown Option
                    li
                      a(href='#') Dropdown Option
                    li
                      a(href='#') Dropdown Option
                    li.divider
                    li
                      a(href='#') See all →
      .row
        .large-4.small-12.columns
          img(src='http://placehold.it/500x500&text=Logo')
          .hide-for-small.panel
            h3 Header
            h5.subheader
              | Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
          a(href='#')
            .panel.callout.radius
              h6 99  items in your cart
        .large-8.columns
          .row
            .large-4.small-6.columns
              img(src='http://placehold.it/1000x1000&text=Thumbnail')
              .panel
                h5 Item Name
                h6.subheader $000.00
            .large-4.small-6.columns
              img(src='http://placehold.it/500x500&text=Thumbnail')
              .panel
                h5 Item Name
                h6.subheader $000.00
            .large-4.small-6.columns
              img(src='http://placehold.it/500x500&text=Thumbnail')
              .panel
                h5 Item Name
                h6.subheader $000.00
            .large-4.small-6.columns
              img(src='http://placehold.it/500x500&text=Thumbnail')
              .panel
                h5 Item Name
                h6.subheader $000.00
            .large-4.small-6.columns
              img(src='http://placehold.it/500x500&text=Thumbnail')
              .panel
                h5 Item Name
                h6.subheader $000.00
            .large-4.small-6.columns
              img(src='http://placehold.it/500x500&text=Thumbnail')
              .panel
                h5 Item Name
                h6.subheader $000.00
          .row
            .large-12.columns
              .panel
                .row
                  .large-2.small-6.columns
                    img(src='http://placehold.it/300x300&text=Site Owner')
                  .large-10.small-6.columns
                    strong
                      | This Site Is Managed By
                      hr
                    | Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
      footer.row
        .large-12.columns
          hr
          .row
            .large-6.columns
              p © Copyright no one at all. Go to town.
            .large-6.columns
              ul.inline-list.right
                li
                  a(href='#') Link 1
                li
                  a(href='#') Link 2
                li
                  a(href='#') Link 3
                li
                  a(href='#') Link 4
