section.pre-footer.default
  .content
    .info-box
      h1
        | You are interested in science, webdevelopment and design?
      h2
        | Sign up to receive monthly News about nisslmueller.biz!
      h3
        //- a(href='http://')
          | Read last month edition
          span.icon-arrow-right
    form.newsletter.default
      label(for='email')
        | Exclusive connection:
      input.email(name='email', type='text')
      input.submit.button(type='submit', value='Submit', href='https://www.nisslmueller.biz/#!/whatweuse', target='_blank' )) 

section.footer.default
  .content
    .gmaps-marker-placeholder
      h1
        | Linz, Austria
      h2
        | Claus Rainer Nisslmüller
      h2
        | +4369910873781
      h2  
        | hello@nisslmueller.biz
      h2  
        | nisslmueller.biz
      span
        | 

section.post-footer.default
  .content
    include ./../../../../../app/views/includes/navigation/footer/default
    include ./../../../../../app/views/includes/navigation/social/default
    .copyright
      | All rights reserved © 2014 nisslmueller.biz 